{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main_page/css/style.css' %}">
    <title>Главная</title>
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="header">
                <a href="{% url 'main_page' %}"><img src="{% static 'main_page/img/logo.svg' %}" alt=""></a>
                <ul class="nav_menu">
                    <li><a href="{% url 'main_page' %}">Город</a></li>
                    <li><a href="{% url 'restaurants' %}">Куда сходить</a></li>
                    <li><a href="{% url 'articles' %}">События</a></li>
                    <li><a href="">О нас</a></li>
                    {% if user.is_authenticated %}
                        <li><a class="login_btn" href="{% url 'profile' %}">Профиль</a></li>
                    {% else %}
                        <li><a class="login_btn" href="{% url 'login' %}">Вход/Регистрация </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <section id="main">
        <div class="wrapper">
            <div class="main">

                <h1>Открой для себя <br> <span>Красноярск</span></h1>
                <p>Красноярск – сердце Сибири, где уникальная природа встречается с динамичным городским ритмом. Здесь величественные горы соседствуют с современными культурными центрами. Откройте для себя город, где история и современность гармонично переплетаются.</p>

            </div>
        </div>
    </section>
    <section id="to_go">
        <div class="wrapper">
            <div class="to_go">
                <h2>Куда сходить?</h2>
                <div class="to_go_content">
                    <a class="top_to_go" href="">
                        <img src="{% static 'main_page/img/to_go1.jpg' %}" alt="">
                        <h3>Рестораны</h3>
                    </a>
                    <a class="top_to_go" href="">
                        <img src="{% static 'main_page/img/to_go2.jpg' %}" alt="">
                        <h3>Бары</h3>
                    </a>
                    <a href="">
                        <img src="{% static 'main_page/img/to_go3.jpg' %}" alt="">
                        <h3>Культура</h3>
                    </a>
                    <a href="">
                        <img src="{% static 'main_page/img/to_go4.jpg' %}" alt="">
                        <h3>Фастфуд</h3>
                    </a>
                    <a href="">
                        <img src="{% static 'main_page/img/to_go5.jpg' %}" alt="">
                        <h3>Развлечения</h3>
                    </a>


                </div>
            </div>
        </div>
    </section>
    <section id="popular">
        <div class="wrapper">
            <div class="popular">
                <h2>Популярные места</h2>
                <div class="popular_content">
                    {% for el in restaurants %}
                        <div class="cart_box">
                        <div class="cart_img">
                            <img src="{{ el.image }}" alt="{{ el.name }}">
                        </div>
                        <div class="cart_info">
                            <h3>{{ el.name }}</h3>
                            <p><span>{{ el.rating }}</span>9999 отзывов</p>
                            <div class="key_cart">
                                <p>{{ el.type }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="to_do">
        <div class="wrapper">
            <div class="to_do">
                <h2>Чем заняться?</h2>
                <div class="to_do_content">
                    {% for el in articles %}
                        <div class="to_do_box">
                        <div class="to_do_img">
                            <img src="{{ el.picture.url}}" alt="">
                            <h4>{{ el.title }}</h4>
                        </div>
                        <p>{{ el.subtitle }}</p>
                        <a href="articles/{{ el.id }}">Подробнее</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</body>

</html>