{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'articles/css/style.css' %}">
    <title>Главная</title>
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="header">
                <a href="{% url 'main_page' %}"><img src="{% static 'main_page/img/logo.svg' %}" alt=""></a>
                <ul class="nav_menu">
                    <li><a href="{% url 'main_page' %}">Город</a></li>
                    <li><a href="{% url 'restaurants' %}">Куда сходить</a></li>
                    <li><a href="{% url 'articles' %}">События</a></li>
                    <li><a href="{% url 'about_us' %}">О нас</a></li>
                    {% if user.is_authenticated %}
                        <li><a class="login_btn" href="{% url 'profile' %}">Профиль</a></li>
                    {% else %}
                        <li><a class="login_btn" href="{% url 'login' %}">Вход/Регистрация </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <section id="blog">
        <div class="wrapper">
            <div class="blog_header">
                <h2>Статьи</h2>
{#                <div class="blog_select">#}
{#                    <select name="" id="" value="Все">#}
{#                        <option value="">Текст</option>#}
{#                    </select>#}
{#                    <select name="" id="" value="Период">#}
{#                        <option value="">Текст</option>#}
{#                    </select>#}
{#                </div>#}
            </div>
            <div class="blog">
                {% for el in page.object_list %}
                    <a href="/articles/{{ el.id }}" class="post">
                    <h4>{{ el.title }}</h4>
                    <p>{{ el.subtitle }}</p>
                    <div class="post_footer">
                        <span class="teg">
                            #NewPost
                        </span>
                        <span class="date">
                            {{ el.date}}
                        </span>
                    </div>
                </a>
                {% endfor %}

                <div class="croshka">
                    {% if page.has_previous %}
                        <a href="{% url 'articles_page' page.previous_page_number %}">
                            <button>{{ page.previous_page_number }}</button>
                        </a>
                    {% endif %}

                    <button class="active_btn">{{ page.number }}</button>

                    {% if page.has_next %}
                        <a href="{% url 'articles_page' page.next_page_number %}">
                            <button>{{ page.next_page_number }}</button>
                        </a>
                        {% if page.next_page_number != paginator.num_pages %}
                            <button>...</button>
                            <a href="{% url 'articles_page' paginator.num_pages %}">
                                <button>{{ paginator.num_pages }}</button>
                            </a>
                        {% endif %}
                        <a href="{% url 'articles_page' page.next_page_number %}">
                            <button><img src="{% static 'articles/img/arrow_right.svg' %}" alt=""></button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</body>

</html>