$font: Lato, sans-serif;
$primary-color: #333;


* {
  margin: 0;
  padding: 0;
}

.bg {
  background-image: url("../images/bg.png");
  background-position: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
}

// Mobile
@media screen and (min-width: 0px) {

  $form-width: 250px;
  $form-height: 300px;

  $input-width: 200px;
  $input-height: 30px;
  $input-border-radius: 12px;

  $head-font-size: 20px;
  $input-font-size: 12px;
  $btn-font-size: 14px;
  $txt-font-size: 12px;

  .login-form {
    width: $form-width;
    height: $form-height;

    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: start;

    .arrow-back {
      margin-left: 10px;
      margin-top: 20px;
      width: fit-content;
      height: fit-content;
      z-index: 10;
      cursor: pointer;
    }

    .form-content {
      position: fixed;
      width: $form-width;
      height: $form-height;
      display: flex;
      flex-direction: column;
      justify-self: center;
      justify-content: center; //
      align-items: center;

        h1 {
        margin-top: 20px;
        font-family: $font;
        font-weight: 500;
        font-size: $head-font-size;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        margin-bottom: 10px;
      }

      .input {
        border: 1px solid hsl(0, 0%, 0%);
        width: $input-width;
        height: $input-height;
        border-radius: $input-border-radius;
        margin-left: 45px;
        margin-right: 45px;
        margin-bottom: 5px;
        font-family: $font;
        // font-weight: 400;
        font-size: $input-font-size;
        text-align: left;
        color: #000;
        padding-left: 10px;
      }

      #password-field2 {
        margin-bottom: 0;
      }

      .password-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        // background-color: green;
        right: 32px;
        top: 49%;
        cursor: pointer;
        // background-color: red;
        background: url("../images/closed_eye.svg") 0 0 no-repeat;
      }

      .password-icon.opened {
        background: url("../images/opened_eye.svg") 0 0 no-repeat;
      }

      .password-icon2 {
          width: 20px;
          height: 20px;
          position: absolute;
          // background-color: green;
          right: 32px;
          top: 62%;
          cursor: pointer;
          // background-color: red;
          background: url("../images/closed_eye.svg") 0 0 no-repeat;
        }

      .password-icon2.opened {
        background: url("../images/opened_eye.svg") 0 0 no-repeat;
      }


      .register-btn {
        border: 0 solid transparent;
        margin-top: 17px;
        border-radius: $input-border-radius;
      //   padding: 10px 44px;
        width: $input-width+12;
        height: $input-height;
        background: #475f74;

        div {
          font-family: var(--font-family);
          font-weight: 800;
          font-size: $btn-font-size;
          text-align: center;
          color: #fff;
        }
      }

      .have-account {
          margin-top: 5px;
          // font-family: $font;
          font-weight: 400;
          font-size: $txt-font-size;
          text-align: center;
          color: #000;
      }

      .login {
          font-size: $txt-font-size;
          font-weight: 800;
          text-decoration: underline;
          text-decoration-skip-ink: none;
          color: #475f74;
      }
    }
  }
}


// Mobile L
@media screen and (min-width: 500px) {
  $form-width: 300px;
  $form-height: 350px;

  $input-width: 250px;
  $input-height: 28px;
  $input-border-radius: 12px;

  $icon-margin: 40px;

  $input-font-size: 16px;
  $btn-font-size: 17px;
  $head-font-size: 27px;
  $txt-font-size: 16px;

  .login-form {
    width: $form-width;
    height: $form-height;

    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: start;

    .arrow-back {
      margin-left: 10px;
      margin-top: 20px;
      width: fit-content;
      height: fit-content;
      z-index: 10;
      cursor: pointer;

    }

    .form-content {
      position: fixed;
      width: $form-width;
      height: $form-height;
      display: flex;
      flex-direction: column;
      justify-self: center;
      justify-content: center; //
      align-items: center;

      h1 {
        margin-top: 15px;
        font-family: $font;
        font-weight: 500;
        font-size: $head-font-size;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        margin-bottom: 10px;
      }

      .input {
        border: 1px solid hsl(0, 0%, 0%);
        width: $input-width;
        height: $input-height;
        border-radius: $input-border-radius;
        margin-left: 45px;
        margin-right: 45px;
        margin-bottom: 10px;
        font-family: $font;
        // font-weight: 400;
        font-size: $input-font-size;
        text-align: left;
        color: #000;
        padding-left: 10px;
      }

      #password-field2 {
        margin-bottom: 0;
      }

      .password-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        // background-color: green;
        right: $icon-margin;
        top: 50%;
        cursor: pointer;
        // background-color: red;
        background: url("../images/closed_eye.svg") 0 0 no-repeat;
      }

      .password-icon.opened {
        background: url("../images/opened_eye.svg") 0 0 no-repeat;
      }

      .password-icon2 {
        width: 20px;
        height: 20px;
        position: absolute;
        // background-color: green;
        right: $icon-margin;
        top: 61%;
        cursor: pointer;
        // background-color: red;
        background: url("../images/closed_eye.svg") 0 0 no-repeat;
      }

      .password-icon2.opened {
        background: url("../images/opened_eye.svg") 0 0 no-repeat;
      }


      .register-btn {
        border: 0 solid transparent;
        margin-top: 17px;
        border-radius: $input-border-radius;
        //   padding: 10px 44px;
        width: $input-width+12;
        height: $input-height;
        background: #475f74;

        div {
          font-family: var(--font-family);
          font-weight: 800;
          font-size: $btn-font-size;
          text-align: center;
          color: #fff;
        }
      }

      .have-account {
        margin-top: 10px;
        // font-family: $font;
        font-weight: 400;
        font-size: $txt-font-size;
        text-align: center;
        color: #000;
      }

      .login {
        font-size: $txt-font-size;
        font-weight: 800;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #475f74;
      }
    }
  }
}


// Tablet
@media screen and (min-width: 720px) {
  $form-width: 325px;
  $form-height: 375px;

  $input-width: 260px;
  $input-height: 35px;
  $input-border-radius: 12px;

  $icon-margin: 45px;

  $head-font-size: 24px;
  $input-font-size: 16px;
  $btn-font-size: 18px;
  $txt-font-size: 16px;

  .login-form {
    width: $form-width;
    height: $form-height;

    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: start;

    .arrow-back {
      margin-left: 10px;
      margin-top: 20px;
      width: fit-content;
      height: fit-content;
      z-index: 10;
      cursor: pointer;

    }

    .form-content {
      position: fixed;
      width: $form-width;
      height: $form-height;
      display: flex;
      flex-direction: column;
      justify-self: center;
      justify-content: center; //
      align-items: center;

      h1 {
        margin-top: 15px;
        font-family: $font;
        font-weight: 500;
        font-size: $head-font-size;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        margin-bottom: 10px;
      }

      .input {
        border: 1px solid hsl(0, 0%, 0%);
        width: $input-width;
        height: $input-height;
        border-radius: $input-border-radius;
        margin-left: 45px;
        margin-right: 45px;
        margin-bottom: 15px;
        font-family: $font;
        // font-weight: 400;
        font-size: $input-font-size;
        text-align: left;
        color: #000;
        padding-left: 10px;
      }

      #password-field2 {
        margin-bottom: 0;
      }

      .password-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        // background-color: green;
        right: $icon-margin;
        top: 50%;
        cursor: pointer;
        // background-color: red;
        background: url("../images/closed_eye.svg") 0 0 no-repeat;
      }

      .password-icon.opened {
        background: url("../images/opened_eye.svg") 0 0 no-repeat;
      }

      .password-icon2 {
        width: 20px;
        height: 20px;
        position: absolute;
        // background-color: green;
        right: $icon-margin;
        top: 64%;
        cursor: pointer;
        // background-color: red;
        background: url("../images/closed_eye.svg") 0 0 no-repeat;
      }

      .password-icon2.opened {
        background: url("../images/opened_eye.svg") 0 0 no-repeat;
      }


      .register-btn {
        border: 0 solid transparent;
        margin-top: 17px;
        border-radius: 15px;
        //   padding: 10px 44px;
        width: $input-width+12;
        height: $input-height;
        background: #475f74;

        div {
          font-family: var(--font-family);
          font-weight: 800;
          font-size: $btn-font-size;
          text-align: center;
          color: #fff;
        }
      }

      .have-account {
        margin-top: 16px;
        // font-family: $font;
        font-weight: 400;
        font-size: $txt-font-size;
        text-align: center;
        color: #000;
      }

      .login {
        font-size: $txt-font-size;
        font-weight: 800;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #475f74;
      }
    }
  }
}


// Laptop
@media screen and (min-width: 1000px) {
  $form-width: 400px;
  $form-height: 450px;

  $input-width: 300px;
  $input-height: 45px;
  $input-border-radius: 15px;

  $icon-margin: 65px;

  $head-font-size: 30px;
  $input-font-size: 20px;
  $btn-font-size: 22px;
  $txt-font-size: 20px;

  .login-form {
    width: $form-width;
    height: $form-height;

    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: start;

    .arrow-back {
      margin-left: 10px;
      margin-top: 20px;
      width: fit-content;
      height: fit-content;
      z-index: 10;
      cursor: pointer;

    }

    .form-content {
      position: fixed;
      width: $form-width;
      height: $form-height;
      display: flex;
      flex-direction: column;
      justify-self: center;
      justify-content: center; //
      align-items: center;

      h1 {
        margin-top: 15px;
        font-family: $font;
        font-weight: 500;
        font-size: $head-font-size;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        margin-bottom: 10px;
      }

      .input {
        border: 1px solid hsl(0, 0%, 0%);
        width: $input-width;
        height: $input-height;
        border-radius: $input-border-radius;
        margin-left: 45px;
        margin-right: 45px;
        margin-bottom: 15px;
        font-family: $font;
        // font-weight: 400;
        font-size: $input-font-size;
        text-align: left;
        color: #000;
        padding-left: 10px;
      }

      #password-field2 {
        margin-bottom: 0;
      }

      .password-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        // background-color: green;
        right: $icon-margin;
        top: 50%;
        cursor: pointer;
        // background-color: red;
        background: url("../images/closed_eye.svg") 0 0 no-repeat;
      }

      .password-icon.opened {
        background: url("../images/opened_eye.svg") 0 0 no-repeat;
      }

      .password-icon2 {
        width: 20px;
        height: 20px;
        position: absolute;
        // background-color: green;
        right: $icon-margin;
        top: 64%;
        cursor: pointer;
        // background-color: red;
        background: url("../images/closed_eye.svg") 0 0 no-repeat;
      }

      .password-icon2.opened {
        background: url("../images/opened_eye.svg") 0 0 no-repeat;
      }


      .register-btn {
        border: 0 solid transparent;
        margin-top: 17px;
        border-radius: 15px;
        //   padding: 10px 44px;
        width: $input-width+12;
        height: $input-height;
        background: #475f74;

        div {
          font-family: var(--font-family);
          font-weight: 800;
          font-size: $btn-font-size;
          text-align: center;
          color: #fff;
        }
      }

      .have-account {
        margin-top: 16px;
        // font-family: $font;
        font-weight: 400;
        font-size: $txt-font-size;
        text-align: center;
        color: #000;
      }

      .login {
        font-size: $txt-font-size;
        font-weight: 800;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #475f74;
      }
    }
  }
}

// 4k
@media screen and (min-width: 1500px) {
  $form-width: 1000px;
  $form-height: 950px;

  $input-width: 890px;
  $input-height: 100px;
  $input-border-radius: 30px;

  $icon-margin: 95px;

  $head-font-size: 70px;
  $input-font-size: 40px;
  $btn-font-size: 42px;
  $txt-font-size: 40px;

  .login-form {
    width: $form-width;
    height: $form-height;

    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: start;

    .arrow-back {
      margin-left: 10px;
      margin-top: 20px;
      width: fit-content;
      height: fit-content;
      z-index: 10;
      cursor: pointer;

    }

    .form-content {
      position: fixed;
      width: $form-width;
      height: $form-height;
      display: flex;
      flex-direction: column;
      justify-self: center;
      justify-content: center; //
      align-items: center;

      h1 {
        margin-top: 15px;
        font-family: $font;
        font-weight: 500;
        font-size: $head-font-size;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        margin-bottom: 30px;
      }

      .input {
        border: 1px solid hsl(0, 0%, 0%);
        width: $input-width;
        height: $input-height;
        border-radius: $input-border-radius;
        margin-left: 45px;
        margin-right: 45px;
        margin-bottom: 35px;
        font-family: $font;
        // font-weight: 400;
        font-size: $input-font-size;
        text-align: left;
        color: #000;
        padding-left: 10px;
      }

      #password-field2 {
        margin-bottom: 0;
      }

      .password-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        // background-color: green;
        right: $icon-margin;
        top: 52%;
        cursor: pointer;
        // background-color: red;
        background: url("../images/closed_eye.svg") 0 0 no-repeat;
      }

      .password-icon.opened {
        background: url("../images/opened_eye.svg") 0 0 no-repeat;
      }

      .password-icon2 {
        width: 20px;
        height: 20px;
        position: absolute;
        // background-color: green;
        right: $icon-margin;
        top: 66%;
        cursor: pointer;
        // background-color: red;
        background: url("../images/closed_eye.svg") 0 0 no-repeat;
      }

      .password-icon2.opened {
        background: url("../images/opened_eye.svg") 0 0 no-repeat;
      }


      .register-btn {
        border: 0 solid transparent;
        margin-top: 30px;
        border-radius: $input-border-radius;
        //   padding: 10px 44px;
        width: $input-width+12;
        height: $input-height;
        background: #475f74;

        div {
          font-family: var(--font-family);
          font-weight: 800;
          font-size: $btn-font-size;
          text-align: center;
          color: #fff;
        }
      }

      .have-account {
        margin-top: 30px;
        // font-family: $font;
        font-weight: 400;
        font-size: $txt-font-size;
        text-align: center;
        color: #000;
      }

      .login {
        font-size: $txt-font-size;
        font-weight: 800;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #475f74;
      }
    }
  }
}