{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static 'user_auth/css/forms.css' %}">
</head>

<body>
    <section id="reg">
        <form method="post">
            <div class="header_form">
                <a href="{% url 'main_page' %}"><img src="{% static 'user_auth/img/back_arrow.svg' %}" alt=""></a>
                <h1>Вход</h1>
            </div>
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
{#            <input type="text" placeholder="Имя пользователя">#}
{#            <input type="password" placeholder="Введите пароль">#}
            <button>Войти</button>
            <p class="p_acc_log">Нет аккаунта? <a href="{% url 'signup' %}">Зарегистрироваться</a></p>
        </form>
    </section>
</body>

</html>