{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'about_us/css/style.css' %}">
    <title>Главная</title>
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="header">
                <a href="{% url 'main_page' %}"><img src="{% static 'about_us/img/logo.svg' %}" alt=""></a>
                <ul class="nav_menu">
                    <li><a href="{% url 'main_page' %}">Город</a></li>
                    <li><a href="{% url 'restaurants' %}">Куда сходить</a></li>
                    <li><a href="{% url 'articles' %}">События</a></li>
                    <li><a class="active_link_header" href="{% url 'about_us' %}">О нас</a></li>
                    <li><a class="login_btn" href="{% url 'login' %}">Вход/Регистрация </a></li>
                </ul>
            </div>
        </div>
    </header>
    <section id="post_page">
        <div class="wrapper">
            <div class="post_page">
                <div class="post_info">
                    <h2>В поисках нового. Команда ПоКрасу</h2>
            
                    <p>Добро пожаловать на сайт, посвященный городу Краснярск! Мы - команда энтузиастов, которые стремятся поделиться всеми удивительными аспектами этого прекрасного места с посетителями со всего мира.</p>
                    <br><br>
                    <p>Наша миссия - познакомить вас с уникальной атмосферой и достопримечательностями Краснярска. Мы верим, что каждый уголок этого города имеет свою удивительную историю, которую стоит рассказать.</p>
            
                    <p>На нашем сайте вы найдете обширную информацию о культурных мероприятиях, интересных местах для посещения, природных достопримечательностях и многое другое. Мы постарались создать удобный и информативный ресурс, чтобы ваше знакомство с Краснярском было максимально приятным и полезным.</p>
                    <br><br>
                    <p>Мы стремимся поддерживать актуальность информации на сайте, поэтому постоянно обновляем и дополняем его новыми материалами. Надеемся, что наш сайт станет вашим надежным путеводителем в мире Краснярска и поможет вам сделать ваше пребывание здесь незабываемым.</p>
            
                    <p>Спасибо, что выбрали нас! Если у вас есть вопросы или предложения, не стесняйтесь связаться с нами. Мы всегда рады помочь и услышать ваше мнение.</p>
                    <br><br>
                    <br><br>
                    <p>С уважением, Команда сайта "ПоКрасу"</p>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/db/Речной_вокзал_Красноярск_2020.jpg" alt="">
                </div>
            </div>
            </div>
        </div>
    </section>
</body>

</html>