{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'profile_page/css/style.css' %}">
    <title>Личный кабинет</title>
</head>

<body>
    <section id="user_lk">
        <div class="wrapper">
            <div class="user_lk">
                <div class="user_lk_flex">
                    <div class="user_lk_avatar_box">
                        <div class="user_lk_avatar">
                            {% if user.img %}
                                <img src="{{ user.img.url }}" alt="">
                            {% else %}
                                <img src="{% static 'profile_page/img/lesha.jpg' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="user_lk_btn">
                            <a href="{% url 'main_page' %}">Назад</a>
                            <a href="{% url 'logout' %}">Выйти</a>
                        </div>
                    </div>
                    <div class="user_lk_info">
                        {% if user.first_name %}
                            <h2>{{ user.first_name }}</h2>
                        {% else %}
                            <h2>{{ user.username }}</h2>
                        {% endif %}
                        <p><span>@{{ user.username }}</span></p>
                        <p><span>О себе:</span>{% if user.about %}{{ user.about }}{% else %}Здесь вы можете написать информацию о себе{% endif %}</p>
                        <p class="d_flex"><img src="{% static 'profile_page/img/person_pin_circle.svg' %}" alt="">{% if user.city %}{{ user.city }}{% else %}Красноярск{% endif %}</p>
                    </div>
                </div>
                <div class="user_lk_btn">
                    <a href="{% url 'edit_profile' %}"><img src="{% static 'profile_page/img/settings.svg' %}" alt="">Редактировать</a>

                </div>
            </div>
        </div>
    </section>

    <section id="user_fav">
        <div class="wrapper">
            <div class="user_fav" id="tab-1">
{#                <div class="tab-nav">#}
{#                    <button type="button" class="tab-btn tab-btn-active" data-target-id="0">Отзывы</button>#}
{#                    <button type="button" class="tab-btn" data-target-id="1">Фото</button>#}
{#                    <button type="button" class="tab-btn" data-target-id="2">Избранное</button>#}
{#                </div>#}
                <div class="tab-content">
                    <div class="tab-pane tab-pane-show" data-id="0">
                        {% for rest in favorites %}
                            <a href="{% url 'restaurant_page' rest.restaurant.id %}" class="catalog_box">
                            <div class="cart_box">
                                <div class="cart_img">
                                    <img src="{{ rest.restaurant.image }}" alt="">
                                </div>
                                <div class="cart_info">
                                    <h3>{{ rest.restaurant.name }}</h3>
{#                                    <p><span>{{ rest.restaurant.rating }}</span></p>#}
                                    <p><span>{{ rest.restaurant.rating }}</span>{{ restaurant_reviews | get_item:rest.restaurant }} отзывов</p>
                                    <div class="key_cart">
                                        <p>{{ rest.restaurant.type }}</p>
                                    </div>
                                </div>
                        </div>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="tab-pane" data-id="1">Содержимое 2...</div>
                    <div class="tab-pane" data-id="2">Содержимое 3...</div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'profile_page/js/main.js' %}"></script>
</body>

</html>